<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="OldestDate" value="2018-01-01T00:00:00Z" />
    <add key="ElasticsearchEndpoint" value="http://127.0.0.1:9200" />
    <add key="ElasticsearchIndexName" value="payments" />
    <add key="PayPalPageSize" value="20" />
  </appSettings>
  <paypal>
    <settings>
      <add name="mode" value="live" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="3" />
      <add name="clientId" value="" />
      <add name="clientSecret" value="" />
    </settings>
  </paypal>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
